@page
@model BarcodeApp.Pages.FailureModel
@{
    ViewData["Title"] = "Failure";
}

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Membership Not Created</title>
    </head>

    <body>
        <br /> <br /> <br />
        <div align="center">We are sorry, but a membership was not created.  Please contact customerservice@waterway.com.</div>
        <br /> <br /> <br />
    </body>
    </html>

