@page
@model BarcodeApp.Pages.SuccessModel
@{
    ViewData["Title"] = "Success";
}

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Membership Successfully Created</title>
    </head>

    <body>
        <br /> <br /> <br />
        <div align="center">Please check your email for instructions on how to get your free wash.</div>
        <br /> <br /> <br />
    </body>
    </html>

